html, body {
  height: 100%;
  margin: 0;
    font: 400 16px/18px Roboto,sans-serif;
}

#pulldowns {
  font: 400 16px/18px Roboto,sans-serif;
  padding-left: 15px;

}


li {margin-bottom: 10px;}

#explanatory  {

 padding-left: 5px;
 padding-right: 5px;
  font: 400 14px/16px Roboto,sans-serif;

}
#sidebar {

    border: 1px solid black;
 padding-top: 5px;
 background-color: #F0EDEB;
 width: 200px;
 height: 100%;
 float:left;
}
#short {height:3px;}


#state_name {
   font: 600 18px/18px Roboto,sans-serif;
   padding-left: 5px;
}
#red_indicator {

height: 3px;
background-color: #E3AF6F;

}
#green_indicator {

height: 3px;
background-color:  #9CC47F;

}
#flow_text
{
  font: 300 15px/18px Roboto,sans-serif;
  padding-left: 5px;

}

#population_name {
   padding-left: 5px;
}

#flow_in { color: #9CC47F; }
#flow_out { color: #E3AF6F; }


#main_area {
  margin-left:0;
  float:left;
}
